/infoAttore/target/
/infoAttore/.settings/
/infoAttore/.classpath
/infoAttore/.project
/mainService/target/
/mainService/.settings/
/mainService/.classpath
/mainService/.project
/numeroFilm/target/
/numeroFilm/.settings/
/numeroFilm/.classpath
/numeroFilm/.project